.loader {
  display: flex;
  align-self: flex-start;
  margin-left: 4px;
}

.loader span {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 2px;
  border-radius: 50%;
  background: #999;
  animation: loaderAnim 1s infinite ease-in-out;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loaderAnim {
  0%, 80%, 100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
